@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>

    @*<link rel="shortcut icon" href="~/css/images/fav.png">*@
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container-fluid bg-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 login-card">
                    <div class="row">
                        @* <form asp-action="Login" asp-controller="User" method="post" > *@
                        <div class="col-md-6 logn-part">
                            <div class="row">
                                <div class="col-lg-10 col-md-12 mx-auto">
                                    <div class="form-cover">
                                        <h3>Đăng nhập</h3>
                                        @*<input placeholder="Enter Email" asp-for="Email" type="text" class="form-control">
                        <span asp-validation-for="Email" class="text-danger"></span>
                        <input Placeholder="Enter Password" type="PassWord" class="form-control">
                        <span asp-validation-for="Password" class="text-danger"></span>*@
                                        <div class="row form-footer">
                                            <div class="col-md-6 forget-paswd">
                                                <a href="">Forget Password ?</a>
                                            </div>
                                            <div class="col-md-6 button-div">
                                                <button class="btn btn-primary">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 logn-part">
                            <h3>Đăng ký</h3>
                            <div class="button-div create-btn">
                                <button value="Login" type="submit" class="btn btn-primary create-account">Đăng nhập</button>
                            </div>
                        </div>
                        @*</form>*@
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/css/js/jquery-3.2.1.min.js"></script>
    <script src="~/css/js/popper.min.js"></script>
    <script src="~/css/js/bootstrap.min.js"></script>
</body>

</html>
