@using Microsoft.AspNetCore.Identity
@using Infrastructure.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<ul class="list-main">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item"></li>
        <li>
            <a class="single-icon" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa fa-user-circle-o" aria-hidden="true"></i>@User.Identity.Name</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="@Url.Action("Index", "Home", new { area = "" })"><i class="fa fa-sign-out"></i>Logout</a>
        </li>
        }
        else
        {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        }
    </ul>
