
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>

    @*<link rel="shortcut icon" href="~/css/images/fav.png">*@
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="container-fluid bg-login">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 login-card">
                    <div class="row">
                        <div class="col-md-5 detail-part">
                            <h1>Awesome Login Page Design</h1>
                            <p>
                                Please use your credentials to login.
                                If you are not a member, please register.
                            </p>
                        </div>
                        <div class="col-md-7 logn-part">
                            <div class="row">
                                <div class="col-lg-10 col-md-12 mx-auto">
                                    <div class="form-cover">
                                        <h6>Login Here</h6>
                                        <input placeholder="Enter Username" type="text" class="form-control">
                                        <input Placeholder="Enter PAssword" type="password" class="form-control">
                                        <div class="row form-footer">
                                            <div class="col-md-6 forget-paswd">
                                                <a href="">Forget Password ?</a>
                                            </div>
                                            <div class="col-md-6 button-div">
                                                <button class="btn btn-primary">Login</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
<script src="~/css/js/jquery-3.2.1.min.js"></script>
<script src="~/css/js/popper.min.js"></script>
<script src="~/css/js/bootstrap.min.js"></script>
</body>

</html>
