@inject IRoleService service

<Modal @ref="modalRef">
    <ModalBackdrop />
    <ModalContent IsCentered="true">
        <form method="post">
            <ModalHeader>
                <ModalTitle>@modalTitle</ModalTitle>
                <CloseButton Clicked="@HideModal" />
            </ModalHeader>
            <ModalBody>
                <Field>
                    <FieldLabel>Name</FieldLabel>
                    <TextEdit Placeholder="Enter name..." @bind-Text="model.Name" />
                </Field>
            </ModalBody>
            <ModalFooter>
                <Button Color="Color.Secondary" Clicked="@HideModal">Close</Button>
                <Button Color="Color.Primary" Clicked="@(async () => await SaveChange())">Save Changes</Button>
            </ModalFooter>
        </form>
    </ModalContent>
</Modal>


@code {
    //inject services

    [Parameter]
    public EventCallback OnSaveChange { get; set; }

    // reference to the modal component
    public Modal modalRef;
    public string modalTitle = "";

    RoleModel model;
    protected override void OnInitialized()
    {
        model = new RoleModel();
    }

    private async Task SaveChange()
    {
        if (String.IsNullOrWhiteSpace(model.Id))
        {
            await service.AddRoleAsync(model);
        }
        else
        {
            await service.UpdateAsync(model.Id, model.Name);
        }

        await OnSaveChange.InvokeAsync();

        HideModal();

    }

    public void AddModal()
    {
        model = new RoleModel();
        modalTitle = "Add Role";
        modalRef.Show();
    }

    public void EditModal(RoleModel model)
    {
        modalTitle = "Edit Role";
        this.model = model;
        modalRef.Show();
    }

    public void HideModal()
    {
        modalRef.Hide();
    }

}
